<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Synchronized Slider</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container text-center">
		<h1 >Slider Demo</h1>
		  	<div class="form-group">
				<label for="candidate">Choose a person to vote: </label>
				<select name="candidate" id="candidate" multiple>
					<option value="player1">player1</option>
					<option value="player2">player2</option>
					<option value="player3">player3</option>
					<option value="player4">player4</option>
				</select>
				<br><br>
  				<input type="button" id="voter" value="Submit">
		  	</div>
	<textarea id="chat" style="width: 500px; height: 250px; font-size: 18px; font-family: monospace; margin-top: 10px;"></textarea>
	<p id="speakText">Your turn to Speak Now!</p>
	<input type="button" id="donespeak" value="Done Speak">
	</div>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		// sending a connect request to the server.
		var socket = io.connect("http://localhost:5000");

		// An event handler for a change of value
		$('#voter').click(function(event) { 
			socket.emit('Slider value changed', {who: $('#candidate').attr('id'), data: $('#candidate').val()[0]});
			console.log("emited");
		});

		
		$('#donespeak').click(function(event) {
			console.log("done speaking");
			$("#speakText").hide();
			$("#donespeak").hide();
			socket.emit("done speaking");
		});

		socket.on('after connect', function(msg){
			console.log('After connect', msg);
		});

		socket.on('update value', function(msg) {
			console.log('Value updated');
			console.log(msg);
			let max = 0;
			let argmax = '';
			for (const k in msg) {
				if (msg[k] > max) {
					max = msg[k];
					argmax = k;
				}
			}
			$("#chat").append("Vote Result: " + JSON.stringify(msg) + "\n");    
			$("#chat").append("Winner: " + argmax + "\n\n");    
		});

		socket.on('speak', function() {
			$("#speakText").show();
			$("#donespeak").show();
		});
	});
</script>
</html>